<div class="container">
  <svg class="donut" viewBox="0 0 42 42">
    <!--  GREEN -->
    <circle
      *ngFor="let sector of sectors"
      appModifyDash
      [dashArray]="sector.array"
      [dashOffset]="sector.offset"
      id="donut-segment1"
      class="trans"
      cx="21"
      cy="21"
      r="15.91549430918954"
      fill="transparent"
      [attr.stroke]="sector.color"
      stroke-dasharray="0 100"
      stroke-dashoffset="25"
    ></circle>
    <g><text id="totalValue" x="50%" y="50%">{{sectors[0].p}}%</text></g>
  </svg>
</div>
